<!--
  Generated template for the ConfigPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <myheader title="Configuración">
        <button ion-button icon-only clear (click)="enableEdition()">
            <ion-icon *ngIf="showEditButton" name="create" style="color:white"></ion-icon>
        </button>
    </myheader>
</ion-header>


<ion-content padding>
    <ion-list>
      <ion-list-header>
        Mis Datos
      </ion-list-header>
      <ion-item>
          <ion-input type="text" placeholder="Nombre" [(ngModel)]="userData.name" [disabled]="readOnly">
          </ion-input>
      </ion-item>
      <ion-item>
          <ion-input type="text" placeholder="Email" [(ngModel)]="userData.email" disabled>
          </ion-input>
      </ion-item>
      <ion-item>
          <ion-input type="text" placeholder="Code" [(ngModel)]="userData.code" [disabled]="readOnly">
          </ion-input>
      </ion-item>
      <ion-item>
          <ion-input type="file" placeholder="Avatar" [(ngModel)]="userData.image" [disabled]="readOnly">
          </ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>
        Dirección
      </ion-list-header>
      <ion-item>
          <ion-input type="text" placeholder="Dirección" [(ngModel)]="userData.address" [disabled]="readOnly">
          </ion-input>
      </ion-item>
    </ion-list>
</ion-content>

<ion-footer text-center *ngIf="showButton">
    <ion-toolbar position="bottom">
        <button ion-button full (click)="saveObject()">Guardar</button>
    </ion-toolbar>
</ion-footer>
