<ion-menu [content]="content">


  <ion-content >
    <ion-item>
    <a (click)='logout()' item-end menuClose>
        <ion-icon name="power" class="icon-logoff" color="danger"></ion-icon>
    </a>
    </ion-item>
    <ion-item>
      <ion-avatar class="item-avatar" item-start>
        <img src="{{userData.img}}">
      </ion-avatar>
      <h2><strong>{{userData.name}}</strong></h2>
      <h6>{{userData.code}}</h6>
      <br />
      <a (click)='openPage(configPage)' item-end menuClose>
        <ion-icon name="settings" class="icon-logoff" color="light" item-end></ion-icon>
      </a>
    </ion-item>
    <ion-item>
        <h6>{{userData.email}}</h6>
        <h6><strong>{{userData.community}}</strong></h6>
    </ion-item>

    <ion-content class="pignus-menu">
      <ion-list >
        <button menuClose ion-item (click)="openPage(inboxPage)" color="primary">
            <ion-icon name="{{inboxPage.icon}}" item-start></ion-icon>
             Bandeja de Entrada</button>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" color="dark">
          <ion-icon name="{{p.icon}}" item-start></ion-icon>
          <span *ngIf=" p.title != 'Landing'" >{{p.title}}</span>
        </button>
      </ion-list>
    </ion-content>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->

<ion-nav [root]="rootPage" #content swipeBackEnabled="false" primary></ion-nav>
