<ion-menu [content]="content">


  <ion-content >
    <ion-item>
    <a (click)='logout()' item-end menuClose>
        <ion-icon name="power" class="icon-logoff" color="danger"></ion-icon>
    </a>
    </ion-item>
    <ion-item>
      <ion-avatar class="item-avatar" item-start>
        <img src="assets/imgs/vigilante.png">
      </ion-avatar>
      <h2><strong>Elvira Vigilar</strong></h2>
      <h6>CIA87612</h6>
      <br />
      <a (click)='openPage(configPage)' item-end menuClose>
        <ion-icon name="settings" class="icon-logoff" color="light" item-end></ion-icon>
      </a>
    </ion-item>
    <ion-item>
        <h6>elviravigilar@tuseguridad.co</h6>
        <h6><strong>Conjunto Residencial El Mirador</strong></h6>
    </ion-item>

    <ion-content color="dark">
      <ion-list >
        <button menuClose ion-item (click)="openPage(inboxPage)" color="primary">Bandeja de Entrada</button>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" color="dark">
          <span *ngIf=" p.title != 'Landing'" >{{p.title}}</span>
        </button>
      </ion-list>
    </ion-content>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->

<ion-nav [root]="rootPage" #content swipeBackEnabled="false" primary></ion-nav>
